/* Basic CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Actual Style */

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 85vw;
}

nav {
  font-family: 'Fredoka';
  font-weight: 700;
  font-size: 3rem;
  color: #FF4C4B;
  margin: 20px 0px;
}

h2 {
  font-family: 'Fredoka';
  font-weight: 400;
  font-size: 2.2rem;
  text-align: center;
  margin: 5rem auto 4rem auto;
}

.choose-player {
  background-color: #FFCA28;
  font-family: 'Fredoka';
  font-weight: 700;
  font-size: 16rem;
  color: #FF4C4B;
  border-radius: 1.25rem;
  width: 400px;
  height: 400px;
  text-align: center;
}

.choose-player-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.player-choice-container {
position: absolute;
width: 100%;
height: 100%;
}

.hidden {
 display: none !important;
}

.game-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  background-color: #FFCA28;
  font-family: 'Fredoka';
  font-weight: 700;
  font-size: 8rem;
  line-height: 1;
  color: #FF4C4B;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 600px;
  height: 600px;
}

.game-board-container {
display: flex;
justify-content: center;
}

.selected {
background-color: #FF4C4B;
color: #FFCA28;

}

.winning {
background-color: #4BFF4C;
color: #FFCA28;
}

.cell:hover {
  background-color: #FFD860;
  color: #DD4746;
}